Repository code4romania/seismic-risc, pull requests merged in 2021-03, with the labels that each got.

#579 Buildings API endpoints with partial info
  api/buildings/serializers.py
  api/buildings/views.py
  api/tests/test_buildings_api.py
  client/src/components/HereMapInteractive/HereMapInteractive.js
  client/src/containers/building/BuildingDetailsFragment.js
Labels: client, django

#571 Add blog main page draft
  client/src/App.js
  client/src/components/BlogItem.js
  client/src/components/BlogItem/BlogItem.js
  client/src/components/BlogItem/BlogItem.test.js
  client/src/components/BlogItem/__snapshots__/BlogItem.test.js.snap
  client/src/components/Header.js
  client/src/components/LoadMoreArticlesLink/LoadMoreArticlesLink.js
  client/src/components/LoadMoreArticlesLink/LoadMoreArticlesLink.test.js
  client/src/components/TestUtils.js
  client/src/containers/blog-post/BlogPost.js
  client/src/containers/blog/Blog.js
  client/src/containers/blog/index.js
  client/src/locales/en/messages.js
  client/src/locales/en/messages.json
  client/src/locales/ro/messages.js
  client/src/locales/ro/messages.json
  client/src/styles/_blog.scss
Labels: client

#576 social media tags
  client/public/index.html
  client/public/share.png
Labels: client

#575 About
  client/public/seismic.png
  client/src/App.js
  client/src/components/Header.js
  client/src/components/Sharing.js
  client/src/containers/about/AuthorsFragment.js
  client/src/containers/about/FirstParagraphsFragment.js
  client/src/containers/about/SecondParagraphFragment.js
  client/src/containers/about/SharingFragment.js
  client/src/containers/about/TextBoxFragment.js
  client/src/containers/about/ThirdParagraphFragment.js
  client/src/containers/about/TitleFragment.js
  client/src/containers/about/index.js
  client/src/images/CfR.png
  client/src/images/CfR.svg
  client/src/images/Logo-MAME 1.svg
  client/src/images/MAME1.png
  client/src/images/facebook.svg
  client/src/images/telegram.svg
  client/src/images/tfsg.png
  client/src/images/tfsg.svg
  client/src/images/twitter.svg
  client/src/styles/_about.scss
  client/src/styles/_sharing.scss
  client/src/styles/theme.scss
Labels: client

#586 Change staging deploy configuration
  .github/workflows/deploy_staging.yml
  Makefile
  deploy/pull.sh
Labels: devops

#570 Docs/run without docker
  README.md
  activate_dev_env.bat
Labels: documentation

#591 404 - not found page
  client/src/App.js
  client/src/containers/404/404.js
  client/src/containers/404/404.test.js
  client/src/locales/en/messages.js
  client/src/locales/en/messages.json
  client/src/locales/ro/messages.js
  client/src/locales/ro/messages.json
  client/src/logo-big.svg
Labels: client

#588 Map pins
  client/src/hooks/map/ClusterLayerBuilder.js
  client/src/styles/_map.scss
Labels: map

#590 Add admin actions to buildings
  api/buildings/admin.py
  api/buildings/migrations/0006_auto_20210305_0908.py
  api/buildings/models.py
  api/buildings/serializers.py
  api/buildings/views.py
  api/locale/en/LC_MESSAGES/django.po
  api/locale/ro/LC_MESSAGES/django.po
  api/tests/test_buildings_api.py
Labels: django

#614 adapt building info panel to meet specs
  client/src/components/BuildingDetails.js
  client/src/locales/en/messages.js
  client/src/locales/en/messages.json
  client/src/locales/ro/messages.js
  client/src/locales/ro/messages.json
  client/src/styles/_building.details.scss
Labels: client

#623 Allow the public to add new buildings
  api/buildings/serializers.py
  api/buildings/views.py
Labels: django

#626 [API] Tags endpoint
  api/blog/views.py
  api/seismic_site/urls.py
Labels: api: Django

#628 Update Python requirements
  api/requirements-dev.txt
  api/requirements.txt
Labels: security

#627 Fix selected pin not visible on mobile
  client/src/components/BuildingDetails.js
  client/src/components/HereMapInteractive/HereMapInteractive.js
  client/src/components/HereMapInteractive/HereMapInteractive.test.js
  client/src/components/SearchResults.js
  client/src/components/SocialBar/SocialBar.test.js
  client/src/components/TestUtils.js
  client/src/components/searchResults.css
  client/src/containers/404/404.test.js
  client/src/containers/blog-post/BlogPostDetailsFragment/BlogPostDetailsFragment.test.js
  client/src/containers/building/BuildingDetailsFragment.js
  client/src/hooks/map/useDecoratedClusteredMap.js
  client/src/styles/_building.details.scss
Labels: client: ReactJS

#619 Apply changes after status implementation
  api/buildings/admin.py
  api/buildings/migrations/0007_auto_20210312_1625.py
  api/buildings/models.py
  api/buildings/serializers.py
  api/buildings/views.py
  api/locale/en/LC_MESSAGES/django.po
  api/locale/ro/LC_MESSAGES/django.po
Labels: api: Django

#598 Update header design
  client/src/App.js
  client/src/components/Header.js
  client/src/components/Layout.js
  client/src/styles/_common.scss
  client/src/styles/_header.scss
  client/src/styles/_variables.scss
  client/src/styles/theme.scss
Labels: client: ReactJS

#569 Change buildings model
  README.md
  api/README.md
  api/buildings/fixtures/buildings.json
  api/buildings/management/commands/buildings.py
  api/buildings/migrations/0008_rename_post_code.py
  api/buildings/models.py
  api/buildings/serializers.py
  api/locale/en/LC_MESSAGES/django.po
  api/locale/ro/LC_MESSAGES/django.po
  api/tests/test_buildings_api.py
  client/db.json
  client/src/components/BuildingDetails.js
  client/src/components/SearchResults.js
  data/LISTA.imobile.PMB.completa_2018.xlsx
Labels: api: Django
